@import "tailwindcss";
@import "@fontsource/sorts-mill-goudy/400.css";
@import "@fontsource/sorts-mill-goudy/400-italic.css";
@import "@fontsource/iosevka/400.css";
@import "@fontsource/iosevka/500.css";
@import "@fontsource/iosevka/700.css";
@import "fumadocs-ui/css/aspen.css";
@import "fumadocs-ui/css/preset.css";

:root {
  --font-heading: "Sorts Mill Goudy", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: "Iosevka", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --default-mono-font-family: var(--font-mono);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}
